datasets
tqdm
transformers
pytesseract
pillow
# IndicTranslateToolkit @ git+https://github.com/VarunGumma/IndicTransToolkit.git
-e git+https://github.com/VarunGumma/IndicTransToolkit.git#egg=IndicTransToolkit
langchain
faiss-cpu
sentence_transformers
langchain-community
  